<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Orders"
         connectionString="
         Data Source=DESKTOP-OBMVI8U\SQLEXPRESS;
         Initial Catalog=orders_db;
         Integrated Security=True"/>
  </connectionStrings>
</configuration>